@layout LoginLayout
@inherits LayoutComponentBase

<center>
    <div class="col-4 card">
        <div class="col-12 row p-1" style="display: block;">
            <img src="/img/carhire.jpeg" width="100px" height="80px" />
        </div>
        <div class="col-12 row " style="display: block;">

            @Body

        </div>
        <div class="col-12 row">
        
            <p>&nbsp;</p>
        </div>
    </div>
</center>