@inherits LayoutComponentBase

<div class="wrapper">

    <center>

        <div class="col-12 row p-3" style="display: block;">
            <img src="/img/portalnow.png" width="100px" height="80px" />
            <img src="https://citipost.com/wp-content/uploads/2020/07/logo-with-white-bg.svg" width="1200px" height="180px" hidden />
        </div>
        <div class="col-12 row " style="display: block;">
            @Body
        </div>

    </center>


</div>
<!-- ./wrapper -->


@code{ 
    
    
}